container_commands: 
  # 01_generate_key:
    # command:
      # "php artisan key:generate"
  02_drop_tables:
    command:
      "php artisan migrate:fresh"
  03_initdb:
    command: 
      "php artisan migrate"
  04_permissions:
    # fix permissions on the Laravel app folder
    command: 
      "chmod 777 -R /var/app/ondeck/storage"
   05_permissions2:
    # fix permissions on the Laravel app folder
    command: 
      "chmod 777 -R /var/app/current/storage"